<h3>
  <strong>
    {{localize headerKey}}
  </strong>
</h3>
<div class='selection-row'>
  <label for={{name}}>{{localize labelKey}}</label>
  <select
    name={{name}}
    id={{name}}
    class='form-select-feat'
    data-required='true'
  >
    <option value='' disabled selected>
      {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
    </option>
    {{#each feats}}
      <option value={{uuid}}>{{name}}
        {{#if ../showFeatPrerequisites}}
          {{#if system.prerequisites.value}}
            *
          {{/if}}
        {{/if}}
        |
        {{system.level.value}}</option>
    {{/each}}
  </select>
</div>