<li class="feat-option" data-uuid="{{uuid}}">
  <div class="feat-chat-image-container">
    <img loading="lazy" class="feat-chat-image" src="icons/sundries/books/book-red-exclamation.webp">
    <i class="fa-solid fa-message" data-action="send-to-chat"></i>
  </div>
   <div class="feat-name">
    <a class="feat-link" data-link data-uuid="{{uuid}}">
      {{displayName}}
    </a>
  </div>
  <div class="feat-rarity">
    {{#if (notEqual system.traits.rarity 'common')}}
    <span class="feat-rarity-tag {{rarity}}">
      {{rarity}}
    </span>
    {{/if}}
  </div>
  <div class="feat-level">{{level}}</div>
</li>
