<div class="feat-selector" data-id="{{id}}" data-feats='{{feats}}'>
  <h3>
    <strong>
      {{localize headerKey className=className}}
    </strong>
  </h3>
  <div class='selection-row'>
    <div>{{localize labelKey}}</div>
    <button type="button" class="feat-selector-toggle">
      {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
    </button>
    <div class="feat-selector-menu hidden">
      <div class="feat-selector-header window-header">
        <a class="feat-header-button">
          <i class="fas fa-times"></i>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.close'}}
        </a>
      </div>
      <div class="feat-selector-body">
        <div class="feat-filters">
          <input type="text" id="search-feats" 
            placeholder="{{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.placeholder.nameSearch'}}">
          <p class="feat-sort-text">
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.orderBy'}}
          </p>
          <div class="feat-sort">
            <select id="sort-options">
              <option value="level">
                {{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.level'}}
              </option>
              <option value="alpha">
                {{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.name'}}
              </option>
            </select>
            <button id="order-button" type="button">
              <i class="fa-solid fa-sort-numeric-down-alt"></i>
            </button>
          </div>
          <input type="number" id="min-level" 
            placeholder="{{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.placeholder.minLevel'}}">
          <input type="number" id="max-level" 
            placeholder="{{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.placeholder.maxLevel'}}">
          {{#if (eq id 'skillFeats')}}
            <div class="skill-filter-container">
              <label for="skill-filter" class="skill-filter-label">
                {{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.skills'}}
                <i class="fa-solid fa-chevron-down"></i>
              </label>
              <div id="skill-filter" class="skill-filter-options hidden"></div>
            </div>
          {{/if}}
          {{#if (eq id 'classFeats')}}
            <div class="archetype-feats-container">
              <input type="checkbox" id="show-archetype-feats">
              <label for="show-archetype-feats">
                {{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.archetypeFeats'}}
              </label>
            </div>
          {{/if}}
          <input type="text" id="search-dedications" class="hidden" 
            placeholder="{{localize 'PF2E_LEVEL_UP_WIZARD.menu.filters.placeholder.dedicationSearch'}}">
        </div>
        <ul class="feat-list"></ul>
      </div>
    </div>
  </div>
</div>
