<form>
  <div class="header-container">
    <h1 class='fancy-font'>
      {{localize
        'PF2E_LEVEL_UP_WIZARD.menu.header.name'
        actorName=actorName
        targetLevel=targetLevel
      }}
    </h1>
    <p>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.header.description'}}</p>
    {{#if classJournal}}
      <p>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.classJournal'}}
        <a class="content-link" data-link data-uuid="{{classJournal.uuid}}">
          <i class="fas fa-file-lines"></i>{{classJournal.name}}
        </a>
      </p>
    {{/if}}
    {{#if showFeatPrerequisites}}
      <p>
        <strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.note'}}
        </strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.featsPrereq'}}
      </p>
    {{/if}}
  </div>

  {{! Class Feats }}
  {{#if classFeats}}
    {{> featDropdown
      name="classFeats"
      feats=classFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.classFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.classFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
    <div class='checkbox-row'>
      <label for='includeArchetypeFeats'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.checkbox'}}
      </label>
      <input
        type='checkbox'
        id='includeArchetypeFeats'
        name='includeArchetypeFeats'
        class='form-checkbox'
        {{checked includeArchetypeFeats}}
      />
    </div>
  {{/if}}

  {{! Free Archetype Feats }}
  {{#if freeArchetypeFeats}}
    {{> featDropdown
      name="freeArchetypeFeats"
      feats=freeArchetypeFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.freeArchetypeFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.freeArchetypeFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
  {{/if}}

  {{! Ancestry Feats }}
  {{#if ancestryFeats}}
    {{> featDropdown
      name="ancestryFeats"
      feats=ancestryFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
  {{/if}}

  {{! Ancestry Paragon Feats }}
  {{#if ancestryParagonFeats}}
    {{> featDropdown
      name="ancestryParagonFeats"
      feats=ancestryParagonFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.ancestryParagonFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.ancestryParagonFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
  {{/if}}

  {{! Skill Feats }}
  {{#if skillFeats}}
    {{> featDropdown
      name="skillFeats"
      feats=skillFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.skillFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.skillFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
  {{/if}}

  {{! General Feats }}
  {{#if generalFeats}}
    {{> featDropdown
      name="generalFeats"
      feats=generalFeats
      headerKey='PF2E_LEVEL_UP_WIZARD.menu.generalFeats.header'
      labelKey='PF2E_LEVEL_UP_WIZARD.menu.generalFeats.label'
      showFeatPrerequisites=showFeatPrerequisites
    }}
  {{/if}}

  {{! Skill Increases }}
  {{#if skills}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <label for='skills'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.label'}}
      </label>
      <select
        name='skills'
        id='skills'
        class='form-select-skill'
        data-required='true'
      >
        <option value='' disabled selected>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
        </option>
        {{#each skills}}
          <option value={{label}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if features.abilityScoreIncreaseLevel}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.header'}}
      </strong>
    </h3>
    <p>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.label'}}</p>
    <div class="attribute-boosts">
      {{#each abilities}}
        <div class="attribute-boosts-column">
          <label for="boost-{{key}}" class="attribute-boosts-label">
            {{localize (concat 'PF2E.AbilityId.' key)}}
          </label>
          <button 
            class="attribute-boosts-button" 
            data-value="{{key}}" 
            id="boost-{{key}}" 
            type="button"
          >
            <span class="boost-text">
              {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.boost'}}
            </span>
          </button>
          <div class="attribute-modifier" id="modifier-{{key}}">
            {{mod}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{! Class Features }}
  {{#if hasFeaturesToDisplay}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.class.header'}}
      </strong>
    </h3>

    {{! Innate Features }}
    {{#if features.featuresForLevel.length}}
      {{#each features.featuresForLevel}}
        <p>
          <strong>
            {{this.name}}
            ({{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.class.noAction'}}):
          </strong>
          {{{this.description}}}
        </p>
      {{/each}}
    {{/if}}

    {{! Spellcasting }}
    {{#if features.spellcasting}}
      {{! New Spell Rank }}
      {{#if features.newSpellRankLevel}}
        <p>
          <strong>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.rank'}}
          </strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.spellcasting'}}
          </em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
        {{! New Spell Slots }}
      {{else}}
        <p>
          <strong>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.slots'}}
          </strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.spellcasting'}}
          </em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
      {{/if}}
    {{/if}}
  {{/if}}

  {{! Submit Button }}
  <div style='margin-top: 20px;'>
    <button type='submit' class='btn btn-primary' disabled>Submit</button>
  </div>
</form>