<form>
  <h1 class='fancy-font'>{{actorName}} leveled up!</h1>
  <p>Here's an overview of your new features. Please make selections where
    prompted!</p>

  {{#if classFeats}}
    <h3><strong>
        Class Feats
      </strong></h3>
    <div class='selection-row'>
      <label for='classFeats'>
        New Class Feat Available:
      </label>
      <select
        name='classFeats'
        id='classFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>Make a Selection</option>
        {{#each classFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if ancestryFeats}}
    <h3><strong>
        Ancestry Feats
      </strong></h3>
    <div class='selection-row'>
      <label for='ancestryFeats'>New Ancestry Feat Available:
      </label>
      <select
        name='ancestryFeats'
        id='ancestryFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>Make a Selection</option>
        {{#each ancestryFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if skillFeats}}
    <h3><strong>
        Skill Feats
      </strong></h3>
    <div class='selection-row'>
      <label for='skillFeats'>
        New Skill Feat Available:
      </label>
      <select
        name='skillFeats'
        id='skillFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>Make a Selection</option>
        {{#each skillFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if generalFeats}}
    <h3><strong>
        General Feats
      </strong></h3>
    <div class='selection-row'>
      <label for='generalFeats'>
        New General Feat Available:
      </label>
      <select
        name='generalFeats'
        id='generalFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>Make a Selection</option>
        {{#each generalFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}
  {{#if skills}}
    <h3><strong>
        Skill Increases
      </strong></h3>
    <div class='selection-row'>
      <label for='skills'>
        Skill Increase Available:
      </label>
      <select
        name='skills'
        id='skills'
        class='form-select-skill'
        data-required='true'
      >
        <option value='' disabled selected>Make a Selection</option>
        {{#each skills}}
          <option value={{label}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if hasFeaturesToDisplay}}
    <h3><strong>
        New Class Features
      </strong>
    </h3>
    {{#if features.featuresForLevel.length}}
      {{#each features.featuresForLevel}}
        <p><strong>{{this.name}} (No action required):</strong>
          {{{this.description}}}</p>
      {{/each}}
    {{/if}}
    {{#if features.abilityScoreIncreaseLevel}}
      <p>
        <strong>Ability Score Increases:</strong>
        Update this manually on the
        <em>Character</em>
        tab of your character sheet.
      </p>
    {{/if}}
    {{#if features.spellcasting}}
      {{#if features.newSpellRankLevel}}
        <p>
          <strong>New Spell Rank & Slots Available:</strong>
          Update this manually on the
          <em>Spellcasting</em>
          tab of your character sheet.
        </p>
      {{else}}
        <p>
          <strong>New Spell Slots:</strong>
          Update this manually on the
          <em>Spellcasting</em>
          tab of your character sheet.
        </p>
      {{/if}}
    {{/if}}
  {{/if}}

  <!-- Submit Button -->
  <div style='margin-top: 20px;'>
    <button type='submit' class='btn btn-primary' disabled>Submit</button>
  </div>
</form>