{{log 'level-up-helper' this}}
<form>
  <h1>Congratulations! You leveled up!</h1>
  <h3>Here's your new shit:</h3>
  {{#if classFeats}}
    <h5>Class Feats</h5>
    <label for='classFeats'>Select a Class Feat</label>
    <select name='classFeats' id='classFeats'>
      <option value='' disabled selected>Make a Selection</option>
      {{#each classFeats}}
        <option value={{name}}>{{name}} | {{system.level.value}}</option>
      {{/each}}
    </select>
  {{/if}}
  {{#if ancestryFeats}}
    <h5>Ancestry Feats</h5>
    <label for='ancestryFeats'>Select an Ancestry Feat</label>
    <select name='ancestryFeats' id='ancestryFeats'>
      <option value='' disabled selected>Make a Selection</option>
      {{#each ancestryFeats}}
        <option value={{name}}>{{name}} | {{system.level.value}}</option>
      {{/each}}
    </select>
  {{/if}}
  {{#if skillFeats}}
    <h5>Skill Feats</h5>
    <label for='skillFeats'>Select a Skill Feat</label>
    <select name='skillFeats' id='skillFeats'>
      <option value='' disabled selected>Make a Selection</option>
      {{#each skillFeats}}
        <option value={{name}}>{{name}} | {{system.level.value}}</option>
      {{/each}}
    </select>
  {{/if}}
  {{#if generalFeats}}
    <h5>General Feats</h5>
    <label for='generalFeats'>Select a General Feat</label>
    <select name='generalFeats' id='generalFeats'>
      <option value='' disabled selected>Make a Selection</option>
      {{#each generalFeats}}
        <option value={{name}}>{{name}} | {{system.level.value}}</option>
      {{/each}}
    </select>
  {{/if}}
</form>