{{log 'level-up-helper' this}}
<form>
  <h1 class='fancy-font'>{{localize
      'PF2E_LEVEL_UP_WIZARD.menu.header.name'
      actorName=actorName
      targetLevel=targetLevel
    }}</h1>
  <p>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.header.description'}}</p>
  <p class='flavor-text'><strong>Note:</strong>
    Feats with prerequisites are marked with an asterisk (*)</p>

  {{! Class Feats }}
  {{#if classFeats}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.header'}}
      </strong></h3>
    <div class='selection-row'>
      <label for='classFeats'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.label'}}
      </label>
      <select
        name='classFeats'
        id='classFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'
          }}</option>
        {{#each classFeats}}
          <option value={{uuid}}>{{name}}{{#if
              system.prerequisites.value
            }}*{{/if}}
            |
            {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
    <div class='checkbox-row'>
      <label for='includeArchetypeFeats'>{{localize
          'PF2E_LEVEL_UP_WIZARD.menu.classFeats.checkbox'
        }}</label>
      <input
        type='checkbox'
        id='includeArchetypeFeats'
        name='includeArchetypeFeats'
        class='form-checkbox'
        {{checked includeArchetypeFeats}}
      />
    </div>
  {{/if}}

  {{! Ancestry Feats }}
  {{#if ancestryFeats}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.header'}}
      </strong></h3>
    <div class='selection-row'>
      <label for='ancestryFeats'>{{localize
          'PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.label'
        }}
      </label>
      <select
        name='ancestryFeats'
        id='ancestryFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'
          }}</option>
        {{#each ancestryFeats}}
          <option value={{uuid}}>{{name}}{{#if
              system.prerequisites.value
            }}*{{/if}}
            |
            {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{! Skill Feats }}
  {{#if skillFeats}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillFeats.header'}}
      </strong></h3>
    <div class='selection-row'>
      <label for='skillFeats'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillFeats.label'}}
      </label>
      <select
        name='skillFeats'
        id='skillFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'
          }}</option>
        {{#each skillFeats}}
          <option value={{uuid}}>{{name}}{{#if
              system.prerequisites.value
            }}*{{/if}}
            |
            {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{! General Feats }}
  {{#if generalFeats}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.generalFeats.header'}}
      </strong></h3>
    <div class='selection-row'>
      <label for='generalFeats'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.generalFeats.label'}}
      </label>
      <select
        name='generalFeats'
        id='generalFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'
          }}</option>
        {{#each generalFeats}}
          <option value={{uuid}}>{{name}}{{#if
              system.prerequisites.value
            }}*{{/if}}
            |
            {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{! Skill Increases }}
  {{#if skills}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.header'}}
      </strong></h3>
    <div class='selection-row'>
      <label for='skills'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.label'}}
      </label>
      <select
        name='skills'
        id='skills'
        class='form-select-skill'
        data-required='true'
      >
        <option value='' disabled selected>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'
          }}</option>
        {{#each skills}}
          <option value={{label}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{! Class Features }}
  {{#if hasFeaturesToDisplay}}
    <h3><strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.class.header'}}
      </strong>
    </h3>

    {{! Innate Features }}
    {{#if features.featuresForLevel.length}}
      {{#each features.featuresForLevel}}
        <p><strong>{{this.name}}
            ({{localize
              'PF2E_LEVEL_UP_WIZARD.menu.features.class.noAction'
            }}):</strong>
          {{{this.description}}}</p>
      {{/each}}
    {{/if}}

    {{! Ability Score Increases }}
    {{#if features.abilityScoreIncreaseLevel}}
      <p>
        <strong>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.features.abilityScore.header'
          }}</strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
        <em>{{localize
            'PF2E_LEVEL_UP_WIZARD.menu.features.manual.tab.character'
          }}</em>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
      </p>
    {{/if}}

    {{! Spellcasting }}
    {{#if features.spellcasting}}
      {{! New Spell Rank }}
      {{#if features.newSpellRankLevel}}
        <p>
          <strong>{{localize
              'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.rank'
            }}</strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>{{localize
              'PF2E_LEVEL_UP_WIZARD.menu.features.manual.tab.spellcasting'
            }}</em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
        {{! New Spell Slots }}
      {{else}}
        <p>
          <strong>{{localize
              'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.slots'
            }}</strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>{{localize
              'PF2E_LEVEL_UP_WIZARD.menu.features.manual.tab.spellcasting'
            }}</em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
      {{/if}}
    {{/if}}
  {{/if}}

  {{! Submit Button }}
  <div style='margin-top: 20px;'>
    <button type='submit' class='btn btn-primary' disabled>Submit</button>
  </div>
</form>