<div>
  <div class="header-container">
    <h1>
      {{localize
        'PF2E_LEVEL_UP_WIZARD.menu.header.name'
        actorName=actorName
        targetLevel=targetLevel
      }}
    </h1>
    <p>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.header.description'}}</p>
    {{#if classJournals}}
      <p>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.classJournal'}}
        {{#each classJournals}}
        <a class="content-link" data-link data-uuid="{{uuid}}">
          <i class="fas fa-file-lines"></i>{{name}}
        </a>
        {{/each}}
      </p>
    {{/if}}
    {{#if showFeatPrerequisites}}
      <p>
        <strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.note'}}
        </strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.notes.featsPrereq'}}
      </p>
    {{/if}}
  </div>

  {{! Class Feats }}
  {{#if classFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.header' className=primaryClass}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="classFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! Dual Class Feats }}
  {{#if dualClassFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.header' className=secondaryClass}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.classFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="dualClassFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}


  {{! Free Archetype Feats }}
  {{#if freeArchetypeFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.freeArchetypeFeats.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.freeArchetypeFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="freeArchetypeFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! Ancestry Feats }}
  {{#if ancestryFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="ancestryFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! Ancestry Paragon Feats }}
  {{#if ancestryParagonFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.ancestryParagonFeats.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.ancestryParagonFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="ancestryParagonFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! Skill Feats }}
  {{#if skillFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillFeats.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="skillFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! General Feats }}
  {{#if generalFeats}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.generalFeats.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <div>{{localize 'PF2E_LEVEL_UP_WIZARD.menu.generalFeats.label'}}</div>
      <button type="button" class="feat-selector-toggle" id="generalFeats">
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
      </button>
    </div>
  {{/if}}

  {{! Skill Increases }}
  {{#if skills}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.header'}}
      </strong>
    </h3>
    <div class='selection-row'>
      <label for='skills'>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.label'}}
      </label>
      <select
        name='skills'
        id='skills'
        class='form-select-skill'
        data-required='true'
      >
        <option value='' disabled selected>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
        </option>
        {{#each skills}}
          <option value={{slug}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{! Skill Potency }}
  {{#if hasSkillPotencyUpgrade}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillPotency.header'}}
      </strong>
    </h3>
    {{#if currentPotencyLevels}}
      <p>Current Potency Boosts:</p>
      <ul>
      {{#each currentPotencyLevels}}
        <li>{{skill}}: +{{potency}}</li>
      {{/each}}
      </ul>
    {{/if}}
    {{#if potencyAvailableNewBoosts}}
      <div class='selection-row'>
        <label for='newPotency'>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillPotency.newPotency'}}
        </label>
        <select
          name='newPotency'
          id='newPotency'
          class='form-select-skill'
          data-required='true'
        >
          <option value='' disabled selected>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
          </option>
          {{#each potencyAvailableNewBoosts}}
            <option value={{slug}} class={{class}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    {{#if potencyUpgradeTo2Options}}
      <div class='selection-row margin-top'>
        <label for='upgradePotencyTo2'>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillPotency.upgradeTo2'}}
        </label>
        <select
          name='upgradePotencyTo2'
          id='upgradePotencyTo2'
          class='form-select-skill'
          data-required='true'
        >
          <option value='' disabled selected>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
          </option>
          {{#each potencyUpgradeTo2Options}}
            <option value={{slug}} class={{class}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    {{#if potencyUpgradeTo3Options}}
      <div class='selection-row margin-top'>
        <label for='upgradePotencyTo3'>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.skillPotency.upgradeTo3'}}
        </label>
        <select
          name='upgradePotencyTo3'
          id='upgradePotencyTo3'
          class='form-select-skill'
          data-required='true'
        >
          <option value='' disabled selected>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder'}}
          </option>
          {{#each potencyUpgradeTo3Options}}
            <option value={{slug}} class={{class}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
  {{/if}}

  {{! Attribute Boosts }}
  {{#if attributeBoostLevel}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.header'}}
      </strong>
    </h3>
    <p>
      {{#if gradualBoosts}}
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.gradualBoostLabel'}}
      {{else}}
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.label'}}
      {{/if}}
    </p>
    <div class="attribute-boosts">
      {{#each attributes}}
        <div class="attribute-boosts-column">
          <label for="boost-{{key}}" class="attribute-boosts-label">
            {{localize (concat 'PF2E.AbilityId.' key)}}
          </label>
          <button 
            class="attribute-boosts-button" 
            data-value="{{key}}" 
            id="boost-{{key}}" 
            type="button"
          >
            <span class="boost-text">
              {{localize 'PF2E_LEVEL_UP_WIZARD.menu.attributeBoosts.boost'}}
            </span>
          </button>
          <div class="attribute-modifier" id="modifier-{{key}}">
            {{mod}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{! Class Features }}
  {{#if hasFeaturesToDisplay}}
    <h3>
      <strong>
        {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.class.header'}}
      </strong>
    </h3>

    {{! Innate Features }}
    {{#if featuresForLevel.length}}
      {{#each featuresForLevel}}
        <p>
          <strong>
            {{this.name}}
            ({{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.class.noAction'}}):
          </strong>
          {{{this.description}}}
        </p>
      {{/each}}
    {{/if}}

    {{! Spellcasting }}
    {{#if spellcasting}}
      {{! New Spell Rank }}
      {{#if newSpellRankLevel}}
        <p>
          <strong>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.rank'}}
          </strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.spellcasting'}}
          </em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
        {{! New Spell Slots }}
      {{else}}
        <p>
          <strong>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.slots'}}
          </strong>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.update'}}
          <em>
            {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.spellcasting'}}
          </em>
          {{localize 'PF2E_LEVEL_UP_WIZARD.menu.features.manual.sheet'}}
        </p>
      {{/if}}
    {{/if}}
  {{/if}}

  {{! Submit Button }}
  <div style='margin-top: 20px;'>
    <button type='submit' disabled>Submit</button>
  </div>
</div>