{{log 'level-up-helper' this}}
<form>
  <h1>Congratulations! You leveled up!</h1>

  {{#if hasFeaturesToDisplay}}
    <h3>New Features</h3>
    <ul>
      {{#if features.featuresForLevel.length}}
        <li>
          <strong>New Features:</strong>
          <ul>
            {{#each features.featuresForLevel}}
              <li>{{this.name}} (No action required)</li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
      {{#if features.abilityScoreIncreaseLevel}}
        <li>
          <strong>Ability Score Increases:</strong>
          Update this manually on the
          <em>Character</em>
          tab of your character sheet.
        </li>
      {{/if}}
      {{#if features.spellcasting}}
        {{#if features.newSpellRankLevel}}
          <li>
            <strong>New Spell Rank Available:</strong>
            Update this manually on the
            <em>Spellcasting</em>
            tab of your character sheet.
          </li>
        {{else}}
          <li>
            <strong>New Spell Slots:</strong>
            Update this manually on the
            <em>Spellcasting</em>
            tab of your character sheet.
          </li>
        {{/if}}
      {{/if}}
    </ul>
  {{/if}}

  {{#if classFeats}}
    <h3>Class Feats</h3>
    <div class='selection-row'>
      <label for='classFeats'>Select a Class Feat</label>
      <select name='classFeats' id='classFeats'>
        <option value='' disabled selected>Make a Selection</option>
        {{#each classFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if ancestryFeats}}
    <h3>Ancestry Feats</h3>
    <div class='selection-row'>
      <label for='ancestryFeats'>Select an Ancestry Feat</label>
      <select name='ancestryFeats' id='ancestryFeats'>
        <option value='' disabled selected>Make a Selection</option>
        {{#each ancestryFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if skillFeats}}
    <h3>Skill Feats</h3>
    <div class='selection-row'>
      <label for='skillFeats'>Select a Skill Feat</label>
      <select name='skillFeats' id='skillFeats'>
        <option value='' disabled selected>Make a Selection</option>
        {{#each skillFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if generalFeats}}
    <h3>General Feats</h3>
    <div class='selection-row'>
      <label for='generalFeats'>Select a General Feat</label>
      <select name='generalFeats' id='generalFeats'>
        <option value='' disabled selected>Make a Selection</option>
        {{#each generalFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if skills}}
    <h3>Skill Increase</h3>
    <div class='selection-row'>
      <label for='skills'>Select a Skill Increase</label>
      <select name='skills' id='skills'>
        <option value='' disabled selected>Make a Selection</option>
        {{#each skills}}
          <option value={{label}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  <!-- Submit Button -->
  <div style='margin-top: 20px;'>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>