<form>
  <h1 class='fancy-font'>{{localize "PF2E_LEVEL_UP_WIZARD.menu.header.name" actorName=actorName newLevel=newLevel}}</h1>
  <p class='flavor-text'>{{localize "PF2E_LEVEL_UP_WIZARD.menu.header.description" }}</p>

  {{#if classFeats}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.classFeats.header" }}
      </strong></h3>
    <div class='selection-row'>
      <label for='classFeats'>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.classFeats.new" }}
      </label>
      <select
        name='classFeats'
        id='classFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize "PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder" }}</option>
        {{#each classFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if ancestryFeats}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.header" }}
      </strong></h3>
    <div class='selection-row'>
      <label for='ancestryFeats'>{{localize "PF2E_LEVEL_UP_WIZARD.menu.ancestryFeats.new" }}
      </label>
      <select
        name='ancestryFeats'
        id='ancestryFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize "PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder" }}</option>
        {{#each ancestryFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if skillFeats}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.skillFeats.header" }}
      </strong></h3>
    <div class='selection-row'>
      <label for='skillFeats'>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.skillFeats.row.new" }}
      </label>
      <select
        name='skillFeats'
        id='skillFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize "PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder" }}</option>
        {{#each skillFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if generalFeats}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.generalFeats.header" }}
      </strong></h3>
    <div class='selection-row'>
      <label for='generalFeats'>
         {{localize "PF2E_LEVEL_UP_WIZARD.menu.generalFeats.row.new" }}
      </label>
      <select
        name='generalFeats'
        id='generalFeats'
        class='form-select-feat'
        data-required='true'
      >
        <option value='' disabled selected>{{localize "PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder" }}</option>
        {{#each generalFeats}}
          <option value={{uuid}}>{{name}} | {{system.level.value}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}
  {{#if skills}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.header" }}
      </strong></h3>
    <div class='selection-row'>
      <label for='skills'>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.skillIncreases.row.available" }}
      </label>
      <select
        name='skills'
        id='skills'
        class='form-select-skill'
        data-required='true'
      >
        <option value='' disabled selected>{{localize "PF2E_LEVEL_UP_WIZARD.menu.dropdown.placeholder" }}</option>
        {{#each skills}}
          <option value={{label}} class={{class}}>{{label}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if hasFeaturesToDisplay}}
    <h3><strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.header" }}
      </strong>
    </h3>
    {{#if features.featuresForLevel.length}}
      {{#each features.featuresForLevel}}
        <p><strong>{{this.name}} ({{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.row.noAction" }}):</strong>
          {{{this.description}}}</p>
      {{/each}}
    {{/if}}
    {{#if features.abilityScoreIncreaseLevel}}
      <p>
        <strong>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.abilityScore.header" }}</strong>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.update" }}
        <em>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.tab.character" }}</em>
        {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.sheet" }}
      </p>
    {{/if}}
    {{#if features.spellcasting}}
      {{#if features.newSpellRankLevel}}
        <p>
          <strong>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.rank" }}</strong>
          {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.update" }}
          <em>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.tab.spellcasting" }}</em>
          {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.sheet" }}
        </p>
      {{else}}
        <p>
          <strong>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.spellcasting.slots" }}</strong>
          {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.update" }}
          <em>{{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.tab.spellcasting" }}</em>
          {{localize "PF2E_LEVEL_UP_WIZARD.menu.features.class.features.manual.sheet" }}
        </p>
      {{/if}}
    {{/if}}
  {{/if}}

  <!-- Submit Button -->
  <div style='margin-top: 20px;'>
    <button type='submit' class='btn btn-primary' disabled>Submit</button>
  </div>
</form>